<style type="text/css">
	.driveList{
		width: 300px;
	}
</style>
<table>
	<tr>
		<td>
			<a href="http://localhost:3000/?username={{username}}&pwd={{pwd}}&uploadUrl={{uploadUrl}}"> < Back </a>
		</td>
		<td>
			<div class="fileView">
				<center>
					<span>{{statusMessage}}</span><br/>
					<img width="78" src="data:image/png;base64,{{statusIcon}}">
				</center>
			</div>
		</td>
	</tr>
</table>