<style type="text/css">
	.driveList{
		width: 300px;
	}
</style>
<table>
	<tr>
		<td>
			<a href="/?username={{username}}&pwd={{pwd}}&uploadUrl={{uploadUrl}}"> < Back </a>
		</td>
		<td>
			<div class="fileView">
				<center>
					<span>{{statusMessage}}</span><br/>
					<img width="78" src="/img/{{statusIcon}}.png">
				</center>
			</div>
		</td>
	</tr>
</table>